
body {
     background-repeat: no-repeat;
     background-color: black;
}

#platform {
    width: 400px;
    height: 200px;
    border-radius: 200px;
    border-color: #50c878;
    background-color: #000000;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #50c878;
}

#pcpage {
    width: 400px;
    height: 200px;
    border-radius: 200px;
    border-color: #50c878;
    background-color: #000000;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #50c878;
}

#buypc {
    width: 400px;
    height: 185px;
    border-radius: 200px;
    border-color: #50c878;
    background-color: #000000;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #50c878;
    margin-bottom: 5px;
    margin-top: 5px
}

.center {
    text-align: center;
    background-color: #50c878;
}

.flex-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 75px;
    background-color: #0000ff;
    margin: 0px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #50c878;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}